*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: fle;
    background-color: 	#F5F5F5;
    padding: 2rem;
}

.header
{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.column {
    display: flex;
    justify-content: center;
}


.column-container {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.input {
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content:center;
    align-items: center;
}

.button-container {
    width: 540px;
    padding: 7px;
    margin: 4px;
}

.reset-compute-container {
    display: flex;
    justify-content: space-between;
}


.fields{
    padding: 7px;
    margin: 4px;
    width: 150px;
}

.del-but {
    width: 50px;
    height: 32px;

}